body{
  background:#2B2B2B
;  
}
#big_wrapper{text-align:center;
    background-image:url("http://webneel.com/daily/sites/default/files/images/daily/04-2013/30-beach-sea-photography.jpg");
   background-repeat: no-repeat;
      background-attachment: fixed;
  background-position: center center;
  border-radius:30px;
    padding-bottom:250px;
}  
.quotes{color:#558C89;  
}
#Main{ 
       color:black;
       padding:50px;
}

#Header{  
  color:#558C89;
}
#box{   
  display:block;
      border-radius:10px;
      margin-left: auto; 
      margin-right: auto;
      width:50%;
      padding: 1% ;  
      background:#2B2B2B
; 
        opacity:.7;
}

