body{
  background:#2B2B2B
;  
}
#big_wrapper{text-align:center;
    background-image:url("http://webneel.com/daily/sites/default/files/images/daily/04-2013/30-beach-sea-photography.jpg");
   background-repeat: no-repeat;
      background-attachment: fixed;
  background-position: center center;
  border-radius:30px;
    padding-bottom:250px;
}  
.quotes{color:#558C89;  
}
#top_header{ background:#2B2B2B;
             color:#DFE2DB;
}
#menu_header li{float:right;
       padding: 15px;
       list-style:none; 
}
#Main{ 
       color:black;
       padding-top:250px;
}
.blue-text{font-family: times;
           color:#558C89;
           font-size: 25px;
           text-align: left
}

#Header{  
  color:#558C89;
}
#box{   
  display:block;
      border-radius:10px;
      margin-left: auto; 
      margin-right: auto;
      width:50%;
      padding: 1% ;  
      background:#2B2B2B
; 
        opacity:.7;
}

